										<input type="hidden" name="id" value="${role.id}">
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">用户类型:</label>
										<div class="col-sm-7">
											<input type="text" name="roleName" class="col-xs-10 col-sm-5"
												value="${role.roleName}"/>
										</div>

</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">类型code:</label>
										<div class="col-sm-7">
											<input type="text" name="roleCode"
												class="col-xs-10 col-sm-5" value="${role.roleCode}" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">

										<label class="col-sm-3 control-label no-padding-right">可借书数量:</label>
										<div class="col-sm-7">
											<input type="text" name="canBorrowNumber"
												class="col-xs-10 col-sm-5" value="${role.canBorrowNumber}" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">逾期罚款:</label>
										<div class="col-sm-7">
											<input type="text" name="overdueFine"
												class="col-xs-10 col-sm-5" value="${role.overdueFine}" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">遗失罚款:</label>
										<div class="col-sm-7">
											<input type="text" name="lostFine"
												class="col-xs-10 col-sm-5" value="${role.lostFine}" />
										</div>
</div>
<div class="space-4"></div>
