										<input type="hidden" name="id" value="${bookInfo.id}">
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">书号:</label>
										<div class="col-sm-7">
											<input type="text" name="ISBN" class="col-xs-10 col-sm-5"
												value="${bookInfo.ISBN}"/>
										</div>

</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">书名:</label>
										<div class="col-sm-7">
											<input type="text" name="bookName"
												class="col-xs-10 col-sm-5" value="${bookInfo.bookName}" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">

										<label class="col-sm-3 control-label no-padding-right">类型:</label>
										<div class="col-sm-7">
											<input type="text" name="type"
												class="col-xs-10 col-sm-5" value="${bookInfo.type}" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">作者:</label>
										<div class="col-sm-7">
											<input type="text" name="author"
												class="col-xs-10 col-sm-5" value="${bookInfo.author}" />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">出版社:</label>
										<div class="col-sm-7">
											<input type="text" name="publisher"
												class="col-xs-10 col-sm-5" value="${bookInfo.publisher}"  />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">出版日期:</label>
										<div class="col-sm-7">
										<input name="publishTime" value="${bookInfo.publishTime}" 
										type="text" class="input-small" id="publishTime"/>
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">翻译者:</label>
										<div class="col-sm-7">
											<input type="text" name="translator"
												class="col-xs-10 col-sm-5" value="${bookInfo.translator}"  />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">价格:</label>
										<div class="col-sm-7">
											<input type="text" name="price"
												class="col-xs-10 col-sm-5" value="${bookInfo.price}"  />
										</div>
										


</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">剩余量:</label>
										<div class="col-sm-7">
										<input type="text" name="hasNumber"
												class="col-xs-10 col-sm-5" value="${bookInfo.hasNumber}"  />
										</div>
</div>
<div class="space-4"></div>
<div class="from-group">
										<label class="col-sm-3 control-label no-padding-right">书总量:</label>
										<div class="col-sm-7">
											<input type="text" name="totalNumber"
												class="col-xs-10 col-sm-5" value="${bookInfo.totalNumber}"  />
										</div>
</div>
<div class="space-4"></div>

